{% if models|length > 0 %}
    {% for model in models %}
        <li>
            <a href="{{ model.path }}">
                <div class="auto-switcher-item">

                    <div class="auto-switcher-item__img">
                        <img {{ lazy_load(asset(model.imageUrl)) }} alt="{{ model.name }}"/>
                    </div>
                    <div class="auto-switcher-item__select">
                        <div class="uk-inline">
                            <button class="uk-button uk-button-default"
                                    type="button">{{ model.name }}</button>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
    {% else %}
    0 models
{% endif %}